/* FONTS */

/* open-sans-regular - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v16-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v16-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v16-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v16-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v16-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v16-latin_latin-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin_latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v16-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v16-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v16-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v16-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v16-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v16-latin_latin-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* OVERRIDING GLOBAL SETTINGS */


* {
  font-family: system-ui;
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  font-size: 1vmax;
}

/* General */



/* NAV */

#nav {
  display: none;
  z-index: 20;
  position: fixed;
  transition: height 1s, background-color 1s, padding-top 1s;
  overflow: hidden;
}

/* INTRO */

#intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../images/temp-background.jpg");  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* SOCIALMEDIA */

#socialmedia {
  overflow: hidden;
  background-color: white;
  opacity: 1;
  text-align: center;
  width: 100%;
  color:white;
  left: 0;
  bottom: 0;
  height: 5%;
  min-height: 2.3em !important;
  position: absolute;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.block {
  display: block;
}


/* CONTAINER */

.container {
  min-height: 200px;
  padding: 1em 0.3em 2em 3.6em;
  position: relative;
}

.container:nth-child(odd) {  
  background-color: #1f1f1f;
  color: white;
}

.container:nth-child(even) {
  background-color: white;
  color: rgb(39, 39, 39);
}

/* GRID */

.two-split {
  display: grid;
  grid-template-columns: auto auto;
}

.three-split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

/* FLEX-ALIGN */


.left-align {
  display: flex;
  align-content: flex-start;
}

.justify { 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FLEX */

.flex-container {
  display: flex;
  min-height: inherit !important;  
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  flex: 1;
  overflow: visible;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */ 
}

/* ICONS */

.icon-med {
  font-size: 2em;
  color: black;
}

/* UNSPLASH */