/* Big Screens */

#intro {
  background-image: url('../images/temp-background.jpg');
}

#nav-toggle {
  display: none;
}

#nav {
  color: white;
  display: flex;
  left: 0;
  top: 0;
  background-color: rgba(240, 248, 255, 0);
  text-align: center;
  width: 100%;
  max-width: 100%;
  z-index: 20;
  position: fixed;
  height: 6em;

  display: flex;
  min-height: inherit !important;
  flex-wrap: wrap;
}

#nav > div {
  height: 100%;
  transition: background-color 1s, padding-top 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: visible;
}

#nav > div:hover {
  background-color: rgba(180, 180, 180, 0.233);
}

.nav-scrolled {
  background-color: rgb(255, 255, 255) !important;
  height: 50px !important;
  padding-top: 0 !important;
}

.nav-scrolled > div:hover {
  background-color: rgba(80, 80, 80, 0.363) !important;
}

.nav-scrolled {
  color: black !important;
}

#desc {
  text-align: center;
  left: 10vw;
  width: 80vw;
  top: 20vh;
  position: relative;
  margin-top: 20px;
  color: white;
}

#desc > p {
  font-size: 1.5em;
}

#name-box {
  text-align: center;
  width: 100%;
  top: 15vh;
  position: relative;
}

#name-box > h1 {
  color: white;
  font-size: 4em;
  margin: 0;
}

.unsplash-tag {
  position: absolute;
  bottom: 5em;
  left: 1em;
}
