/* Viewport max 600px */
#intro {
  background-image: url("../images/temp-background-mobile.jpg"); }

#nav {
  display: flex;
  width: 0;
  height: 100vh;
  background-color: azure;
  transition: width 0.5s;
  flex-direction: column; }

#nav-toggle {
  display: inherit;
  top: 0.2em;
  left: 0.2em;
  padding: 0.1em;
  position: fixed;
  font-size: 2em;
  z-index: 70;
  color: white;
  transition: transform 0.5s, color 0.5s;
  transform: rotate(-90deg); }

.nav-toggled-btn {
  transform: rotate(90deg) !important;
  color: black !important; }

#nav > div {
  transition: background-color 1s, padding-top 1s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: visible; }

.nav-toggled {
  width: 50vw !important;
  color: black !important; }

.nav-toggled > div:hover {
  background-color: rgba(80, 80, 80, 0.363) !important; }

#name-box {
  text-align: center;
  width: 90vw;
  top: 20%;
  left: 5vw;
  position: relative; }

#name-box > h1 {
  color: white;
  font-size: 3em;
  margin: 0; }

#desc {
  text-align: center;
  width: 90vw;
  top: 25%;
  left: 5vw;
  position: relative;
  margin-top: 20px;
  color: white; }

#desc > p {
  font-size: 1.2em; }

.unsplash-tag {
  position: absolute;
  top: 0.5em;
  right: 0; }
