@import 'style/variables.scss';
@import 'style/font.scss';
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  font-size: 1vmax;
}

/* General */

.form {
  width: 30%;
  display: grid;
  row-gap: 0.2em;
  grid-auto-columns: auto;
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.form > input[name=email]{
  height: 1.4em;
  font-size: 1.1em;
}

.form > input[type=text] {
  height: 1.3em;
  width: 20vw;
  font-size: 1em;
}

.form > input[name=name] {
  height: 1.6em;
  font-size: 1.3em;
}

.form > select {
  
}

/* NAV */

#nav {
  display: none;
  z-index: 20;
  position: fixed;
  transition: height 1s, background-color 1s, padding-top 1s;
  overflow: hidden;
}

/* INTRO */

#intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* SOCIALMEDIA */

#socialmedia {
  overflow: hidden;
  background-color: white;
  opacity: 1;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  color: white;
  left: 0;
  bottom: 0;
  height: 5%;
  min-height: 2.3em !important;
  position: absolute;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.block {
  display: block;
}

/* CONTAINER */

.container {
  min-height: 200px;
  padding: 1em 0.3em 2em 3.6em;
  position: relative;
}

.container:nth-child(odd) {
  background-color: white;
  color: rgb(39, 39, 39);
}

.container:nth-child(even) {
  background-color: #1f1f1f;
  color: white;
}

/* GRID */

.two-split {
  display: grid;
  grid-template-columns: auto auto;
}

.three-split {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

/* FLEX-ALIGN */

.left-align {
  display: flex;
  align-content: flex-start;
}

.justify {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FLEX */

.flex-container {
  display: flex;
  min-height: inherit !important;
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  flex: 1;
  overflow: visible;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
}

/* ICONS */

.icon-med {
  font-size: 2em;
  color: black;
}

/* UNSPLASH */
